@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg,#696eff,#f8acff);
    display: flex;
    justify-content: center;

}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300;
    width: 500;
    background: transparent;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0,5);
}
