.header{
  display: flex;
  align-items: center;
}

.header a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color:azure;
  cursor: pointer;
}
.header .logo{
  max-height: 48px;
}

.header section{
  display: flex;
  align-items: center;
}
