table {
  width: 100%;
  margin: 20px;
}

.actions {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
}

.form-container{
  padding: 20px;
}

.form-element{
  width: 500px;
}

.button-container{
  display: flex;
  justify-content:flex-end;
}
