*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}

.caixa{
    width: 300;
    box-sizing: border-box;
    margin: 10px 20px 15px 12px;
    padding: 10px 20px 15px 12px;
    border: 5px solid black;
    background-color: skyblue;
    font-size: 50px;


}