<!DOCTYPE html>
<html>
<head>
    <title>Teste</title>
</head>
<body>
    <header>
        <h1>Teste</h1>
        <h2>Projeto para Kaspper Academy</h2>
    </header>
    <main>
        <div class="content">
            <p>Um pouco sobre o Framework Angular:</p>
            <p>O Angular CLI (Command Line Interface) é uma poderosa ferramenta de linha de comando fornecida pela equipe do Angular para facilitar o desenvolvimento, o gerenciamento e a construção de aplicativos Angular. Ele oferece uma variedade de comandos pré-definidos que permitem criar rapidamente novos projetos, gerar componentes, serviços, módulos, e muito mais.</p>
            <p><a href="https://github.com/eron-moraes" target="_blank">Clique aqui</a> para conhecer meu repositório com outros projetos.</p>

        </div>
    </main>
    <footer class="footer">
      <p>Desenvolvido por Eron Moraes</p>
  </footer>
</body>
</html>

