/* style.css */
body {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #e04f5f;
  padding: 20px 0;
  margin-bottom: 30px;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

p {
  font-size: 24px;
  line-height: 1.6;
}

a {
  color: #e04f5f;
  text-decoration: none;
  border-bottom: 2px solid #e04f5f;
  transition: border-bottom 0.3s ease-in-out;
}

a:hover {
  border-bottom: 3px solid #e04f5f;
}

.footer {
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer p {
  font-size: 14px;
  text-align: right;
  margin: 5px 0;
}
